@import './css/mixin.scss';

.el-form {

  @include deep('.el-form-item') {
    display: flex;
    justify-content: flex-start;
  }

  @include deep('.el-form-item__label-wrap') {
    margin-left: 0 !important;
  }

  @include deep('.el-form-item__content') {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: fit-content;
    align-items: center;
    margin-left: 0 !important;
  }
}

@import './css/grid.scss';
@import './css/form.detail.scss';